body {
    font-family: sans-serif;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: block;
    margin-block: 1rem;
    padding: 0.5em 1em;
    font-size: 1em;
}

video.in-pip {
  box-shadow: 0 0 0 5px red;
}
